<div class="activity">
	<h1 class="title">Title: {{title}}</h1>
	<h3>Creator: {{creator}}</h3>
	<p>Date: {{date}}</p>
	<span class="delete" data-id={{id}}>Delete</span>
	<span class="details">See Details</span>
	<span class='edit'>Edit</span>
</div>